<div class="comments-view">
	<div project-header project="project"></div>
		<div class="container" >
			<div class="filter-area col-lg-12">
				<p></p>
			</div>

        	<div ng-repeat="comment in project.file.comments" class="comment-container col-lg-12">
            	<div class="col-lg-2">
            		<img src="http://placekitten.com/g/200/200">
            		<p class="reviewr-name">Reviewer</p>
            	</div>
            	<div class="comment-box col-lg-10 container">
            		<div class="comment-info">
                        <div class="file-name">
            			     <p>{{ comment.lineNumber }}</p>
                        </div>
            		</div>
            		<div class="comment-text">
            			<p>{{ comment.text }}</p>
            		</div>
            	</div>
            </div>

        </div>
    </div>
</div>