<div class="project-view">
	<div project-header project="project"></div>
		<div class="container" >

			<div class="fileter-area col-lg-12">
				<p>Filter stuff here</p>
			</div>
        	<div class="comment-container col-xs-12 col-lg-12">
            	<div class="col-lg-3">
            		<img src="images/upload-cloud">
            		<p>Reviwer name</p>
            	</div>
            	<div class="comment-box col-lg-9 container">
            		<div class="comment-info">
            			<p>File Name - line number
            			<p>Date</p>
            		</div>
            		<div class="comment-text">
            			<p>full comment goes here</p>
            		</div>
            	</div>
            </div>
        </div>
    </div>
</div>