 <div class="login-view">
   <div class="container">

        <div class="col-lg-4 signup-container">
             <div class="login-header">
                <p class="login-title">// Revue</p>
            </div>
            <div class="login-form form">
                 <div class="login-subtitle form-group">
                   <p>Login into your Revue account</p>
                </div>
                <div class="form-group">
                    <input type="name" class="username-field form-control" id="firstName" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" class="password-field form-control" id="reviewerEmail" placeholder="password">
                </div>
                <div class="form-group">
                     <a href="#/projects">
                        <button type="button" class="login-view-button btn btn-primary">Login</button>
                     </a>
                </div>
            </div>
        </div>

   </div>
 </div>