<div class="project-view">
    <div project-header project="project"></div>
    <div class="container" >
        <div class="col-xs-12 col-lg-12">
            <div ng-repeat="file in project.files" class="card">
                <div class="card-body">
                    <ul>
                        <li>
                            <a href="/flag">
                                <span class="glyphicon glyphicon-share-alt white"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/delete">
                                <span class="glyphicon glyphicon-trash white"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="code-preview">
                        <!-- <div class="editor" ui-codemirror ui-codemirror-opts="editorOptions" ng-model="file.snippet"></div> -->
                        <pre>{{ file.snippet }}</pre>
                    </div>
                </div>
                <div ng-click="goToFile(file, projectId)" class="card-footer">
                    <h3 class="title">{{ file.name }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>