/*************************************/
/*             Landing Page          */
/*************************************/

.main-view {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("/images/fall.jpg");
    height: 1500px;
}

.main-view .navigation {
    background-color: #fff;
    height: 60px;
    font-size: 18px;
    padding: 25px 0;
}

.main-view .navigation li {
       display: inline;
}

.main-view .navigation a {
    color: #000;
    margin: 25px;
}

.main-view .navigation a:hover {
    text-decoration: none;
}

.main-view .navigation .tabs a:hover {
    color: #cccccc;
}

.main-view .login-button {
    margin-left: 25px;
}

.tagline {
    height: 500px;
    text-align: center;
}

.tagline .main-tagline {
    padding-top: 150px;
    padding-bottom: 15px;
    font-size: 36px;
}

.tagline .sub-tagline {
    font-size: 18px;
}

.signup-container {
    margin-left: 350px;
}

/*************************************/
/*        Navigation                 */
/*************************************/

body {
    font-family: Helvetica;
    background-color: #F4F5F5
}

.main-nav {
    background-color: #676668;
    height: 60px;
    font-size: 18px;
    padding: 25px 0;
    border: 0;
    color: #f8f8f8;
}

.main-nav li {
    display: inline;
}

.main-nav a {
    color: #f8f8f8;
    padding-right: 40px;
}

.main-nav a:hover {
    text-decoration: none;
}
.main-nav .tabs a:hover {
    color: #fff;
}

.main-nav .user-settings {
    text-align: right;

}

/*************************************/
/*             Projects              */
/*************************************/
.projects-view .projects-header {
    color: #676668
    font-size: 24px;
    background-color: #fff;
    height: 85px;
    border-bottom: 1px solid #cccccc;
}

.card {
    width: 320px;
    border: 1px solid transparent;
    margin: 20px 20px;
 /*   border: 1px solid;*/
    border-radius: 4px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.07);
    overflow: hidden;
    display: inline-block;
}

.card .code-preview pre {
    text-align: left;
    color: white;
    background-color: #333;
    border: none;
    overflow: hidden;
    font-size: 9px;
    margin-top: -17%;

}

.card .card-body {
    background-color: #333333;
    height:260px;
    text-align: right;
    padding-right: 16px;
    padding-top: 16px;
}

.card .card-body li {
  display: inline;
}

.card .card-footer {
    height: 60px;
    background-color: #fff;
    cursor: pointer; cursor: hand;
}

.card .card-footer:hover {
    cursor: pointer;
    cursor: hand;
}

.card .card-footer .title {
    color: #676668;
    text-transform: uppercase;
    margin: 0;
    padding-top: 16px;
    padding-left: 16px;
}

.white {
    color: #fff;
}
/*************************************/
/*             project               */
/*************************************/
.project-view .project-header {
    color: #676668;
    background-color: #fff;
    height: 120px;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
}

.header-buttons {
    margin-top: 1.55%;
    margin-right: 55px;
    width: 130px;
}

.project-title{
    margin-top: 25px;
    margin-left: 55px;
    font-size: 22px;
    display: inline-block;
}

.file-name {
    margin-left: 10px;
    font-size: 18px;
    display: inline-block;
}

.flag-project-button {
    width: 130px;
}

.upload-project-button {
    width: 130px;
    margin-bottom: 12%;
}

.project-nav {
    padding-top: 13px;
    font-size: 16px;
}
.project-nav ul a .glyphicon {
    font-size: 15px;
}

.project-nav a {
    color: #676668;
    font-size: 18px;
    padding-right: 30px;
}

.project-nav li {
   display: inline;
}

.project-nav a:hover {
    text-decoration: none;
}

/*************************************/
/*             file                  */
/*************************************/

/*.file-view {
    height: 800px;
    background-color: #FCFCFC;
}*/

.file-view .gutter {
    width: 100px;
    background-color: #000;
}

.CodeMirror {
    height: 800px;
}

.file-view .editor-container {
    width: 100%;
    height: 100%;
}

.file-view .sidebar {
    width: 20%;
    margin-right: -0.3%;
    background-color: #E8E8E8;
    height: 800px;
    display: inline-block;
}
.file-view .editor {
    width: 80%;
    margin-right: -0.3%;
    display: inline-block;
}

/*************************************/
/*             modals                */
/*************************************/
.form-group {
    margin: 0;
}
.modal-title {
    padding: 0;
    line-height: 1;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.upload-form {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 24px;
}

.upload-button {
    margin-left: 115px;
}

.save-button {
    width: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px
}

.flag-form {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

.submit-button {
    width: 150px;
    margin-bottom: 40px;
    margin-left: 150px;
}

.instructions {
    text-align: center;
    margin-top: 30px;
    color: #cccccc;
    font-size: 18px;
    font-weight: 300;
    color: #adadad;
}

.include-message {
    margin-bottom: 30px;
    margin-top:10px;
}

.include-message a {
    margin-top: 17px;
    margin-left: 160px;
}

.include-message a:hover {
    text-decoration: none;
}


/*************************************/
/*             Activity              */
/*************************************/

