/*************************************/
/*             Landing Page          */
/*************************************/

.main-view {
    background-color: #fff;
}

.main-view .navigation {
    background-color: #fff;
    height: 60px;
    font-size: 18px;
    padding: 25px 0;
}

.main-view .navigation li {
       display: inline;
}

.main-view .navigation a {
    color: #000;
    margin: 25px;
}

.main-view .navigation a:hover {
    text-decoration: none;
}

.main-view .navigation .tabs a:hover {
    color: #cccccc;
}

.main-view .login-button {
    margin-left: 25px;
}

.tagline {
    height: 500px;
    text-align: center;
}

.tagline .main-tagline {
    padding-top: 150px;
    padding-bottom: 15px;
    font-size: 36px;

}

.tagline .sub-tagline {
    font-size: 18px;

}

/*************************************/
/*        Main Page        */
/*************************************/

body {
    font-family: Helvetica;
    background-color: #F4F5F5
}

.navigation {
    background-color: #676668;
    height: 60px;
    font-size: 18px;
}

.navigation li {
    display: inline;
}

.navigation a {
    color: #f8f8f8;
}

.navigation .tabs a:hover {
    text-decoration: none;
    color: #fff;
}

.navigation {
    /*text-transform: uppercase;*/
    /*font-weight: 300;*/
    padding: 25px 0;
    border: 0;
    color: #f8f8f8;
}

.navigation .user-settings {
    text-align: right;

}

header {
    color: #676668
    font-size: 24px;
    background-color: #fff;
    height: 120px;
    border-bottom: 1px solid #cccccc;
}

/*************************************/
/*             Projects              */
/*************************************/

.sub-nav a {
   color: #676668;
}

.sub-nav li {
   display: inline;
}

.card {
    width: 320px;
    border: 1px solid transparent;
    margin: 20px 20px;
 /*   border: 1px solid;*/
    border-radius: 4px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.07);
    overflow: hidden;
    display: inline-block;
}

.card .card-body {
    background-color: #333333;
    height:260px;
    text-align: right;
    padding-right: 16px;
    padding-top: 16px;
}

.card .card-body li {
  display: inline;
}

.card .card-footer {
    height: 60px;
    background-color: #fff;
}

.card .card-footer .title {
    color: #676668;
    text-transform: uppercase;
    margin: 0;
    padding-top: 16px;
    padding-left: 16px;
}

.white {
    color: #fff;
}

/*************************************/
/*             files                 */
/*************************************/

.file-view {
    height: 800px;
    background-color: #FCFCFC;
}

.file-view .gutter {
    width: 100px;
    background-color: #000;
}

.file-view .side-bar {
    width: 250px;
    background-color: #FCFCFC;
    height: 800px;
}

.CodeMirror {
    height: 800px;
}

/*************************************/
/*             Reviews               */
/*************************************/

/*************************************/
/*             Activity              */
/*************************************/

